:root {
    --yellow: #e6db74;
    --orange: #fd971f;
    --red: #f92672;
    --magenta: #fd5ff0;
    --violet: #ae81ff;
    --blue: #66d9ef;
    --cyan: #a1efe4;
    --green: #a6e22e;
    --back0: #272822;
    --back1: #3e3d32;
    --back2: #75715e;
    --fore0: #f8f8f2;
    --fore1: #cfcfc2;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--back2);
    color: var(--fore0);
}

aside {
    width: 300px;
    height: 100%;
    background: var(--fore1);
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

aside header {
    width: 100%;
    height: 200px;
    background: var(--back0);
    color: var(--fore0);
    font-weight: bold;
    font-size: 60px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

aside section {
    width: 100%;
    padding: 0px;
}

aside section details {
    width: 100%;
    background: var(--back0);
    border: none;
    outline: none;
    box-sizing: border-box;
}

aside section details summary {
    padding: 10px;
    background: var(--back1);
    color: var(--fore0);
    border: none;
    outline: none;
    cursor: pointer;
}

aside footer {
    width: 100%;
    height: 25px;
    background: var(--back0);
    flex-grow: 0;
    flex-shrink: 0;
}

section {
    width: 100%;
    height: 100%;
    padding: 100px;
    box-sizing: border-box;
}

section h1 {
    font-size: 50px;
    margin-bottom: 15px;
}

section p {
    margin-bottom: 25px;
}

section nav {
    border: solid var(--back1) 1px;
    padding: 20px;
}

section nav h3 {
    margin-bottom: 15px;
}

section nav ul {
    list-style-type: none;
    margin-left: 25px;
}

section nav ul li a {
    text-decoration: none;
    color: var(--fore0);
}